  
/* 
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain) 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers 

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Reset */

body {
    background:rgba(12, 18, 12, 1);
    overflow: hidden;
    overscroll-behavior: none;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgba(199, 214, 213, 1);
  font-size: 3vmin;
  margin: 2.5vmin;
}

h1 {
  font-size: 1.1em;
  padding-bottom: 1em;
  font-weight: 900;
  text-align: center;
}

td {
  padding: 0.3em;
  font-size: .85em;
}

.DetailPage {
  position: absolute;
  width: 50vw;
  height: 95vh;
  right: 0.9vw;
  top: 0vh;
}

.ExitButton {
  position: absolute;
  top: 0;
  right: 0;
}

td:first-child {
  font-weight: bold;
  font-size: 1em;
}

.reset {
  position: absolute;
  right: 2.5vmin;
  bottom: 1vmin;
  background-color:rgba(89, 133, 177, 1);
  font-size: 1.5vmin;
}

a {
  padding: 0.5em;
  color:  rgba(199, 214, 213, 1);
}

@media screen {
  body { 
    height:100%; 
    position:fixed; 
    /* prevent overscroll bounce*/ 
    overflow-y:scroll; 
    -webkit-overflow-scrolling: touch; 
    /* iOS velocity scrolling */ 
  } 
}

@media (orientation: portrait) {
  .DetailPage {
    width: 95vw;
    height: 50vh;
    top: 47vh;
  }
  .reset {
    right: 4vmin;
    bottom: 2vmin;
    font-size: 2vmin;
  }
  a {
    padding: 0.75em;
  }
}

@media screen and (max-width: 1000px)  {
  .DetailPage {
    right: 0;
    font-weight: normal;
    font-size: 2vmax;
  }
}


